/*
A FAIRE

-Menu centré //////
-Background menu principal : gribouillon gris / marque de brosse pour faire ressortir les items
-Couleur police //////////
-Animation écrite / cercle au survol : cf svg animation
-RESPONSIVE
-vidéo ytb
-Référencement
-Contenu : description système + montage vidéo
-Description du sitename
-Mockup

*/

*{
  margin:0;
  font-family: 'Just Another Hand', cursive;
  color:white;
  box-sizing: border-box;
}

html, body{
	height:100%;
	position:relative;
}


/*-----------------------------------
PAGE D'ACCUEIL
-------------------------------------*/


/*FOND*/
#pageaccueil{
	background: url("../media/banniere.png");
	background-size:cover;
	/*background-position:center;
	text-align:center;*/
	width: 100%; 
	/*height: 100%; */
	min-height:100%;
}


h1#sitename{
	font-size:10vw;
}

#title{
	position:relative;
	/*! top:50%; */
	text-align:center;
	margin-top: 25vh;
}


#centermenu{
	list-style:none;
	/*width:100%;*/
	text-align:center;
	padding:0;
	/*position:absolute;
	bottom:0;*/
}

/*ITEMS*/
#nav-princ ul li{
	display:inline-block; 
	float: none;
}

/*LIENS*/
#nav-princ ul li a{
	text-decoration: none;
	color:white;
	/*font-size:50px;*/
	font-size: 4vw;
	/*margin: 0px 150px;*/
}

#nav-princ ul li a:hover{
	opacity:0.5;
	background-color: transparent;
}

#nav-princ ul li a:focus{
	background-color:transparent;
}

/*-----------------------------------
DEUXIEME PAGE
-------------------------------------*/


#systeme, #fondamentaux{
	background: url("../media/tableau.png");
	background-size:cover;
	width:100%;
	height:100%;
	margin-top:1px;
}

h2.subtitle{
	/*font-size:60px;*/
	font-size:3vw;
	text-align:center;
	/*! padding-top: 10px; */
	/*! margin-bottom:20px; */
}

/*MENU*/
/*#menusysteme{
	text-align:center;
}*/
#systeme ul{
	list-style:none;
	/*text-align: center;*/
}

/*#systeme ul li{
	border-bottom: 0px;
}*/

#systeme ul li a{
	text-decoration: none;
	font-size:3vw;
	color:white;
	/*margin:0 125px;*/
	/*padding:5px;*/
}

#systeme ul li a:hover{
	border:1px solid white;
	border-radius:30px;
	background-color:transparent;	
}

#systeme ul li a:focus{
	background-color:transparent;	
}
/*---------------*/
/*#explicationsysteme{
	width:50%;
	float:right;
}*/

/*#bloc-compo{
	display:none;
	margin-top:5%;
}*/

#explicationsysteme p{
	font-size:2vw;
	display:none;
	overflow:hidden;
}

/*SCHEMAS*/
#schemasysteme{
	/*width:50%;
	float:left;*/
	text-align:center;
}

#schemasysteme img{
  width:25vw;
  display:none;
}

/*-----------------------------------
TROISIEME PAGE
-------------------------------------*/

/*MENU*/
/*#fondamentaux nav{
 width:100%;

}*/

#fondamentaux ul{
  list-style:none;
}

#fondamentaux ul li{
	margin-top:30px;
}

/*#fondamentaux ul li a:hover{
	text-decoration:underline;
}*/

/*------------------------------------------------------------
Animation du lien (a)
--------------------------------------------------------------*/
#hoverwriting{
	display:inline-block;
	color:white;
	text-decoration:none;
	font-size: 3vw;
	text-align:center;
}

#hoverwriting::after{
	content:'';
	display:block;
	width:0;
	height:2px;
	background:grey;
	transition: width .3s;
}

#hoverwriting:hover{
	color:grey;
}

#hoverwriting:hover::after{
	width:100%;
}
/*----------------------------------*/

#schemafondamentaux{
	text-align:center;
}

/*SCHEMA*/
#schemafondamentaux img{
	display:none;
	width:25vw;
/*	position:absolute;
	top:0;
	width:50%;
	height:auto;
	position:relative;
	left:50%;
	margin-left:-25%;*/
}

/*EXPLICATION*/
#explicationfondamentaux p{
	display:none;
	font-size:2vw;
	text-align:center;
}


video{
	display:none;
	width:25vw;
	height:auto;
}


#videofondamentaux{
	text-align:center;
}






/*-----------------------------------
FOOTER
-------------------------------------*/
footer{
	position:fixed;
	bottom: 0;
	right:0;
	width: 5%;
}

#retourtop{
	display:none;
}
#retourtop img{
	height:auto;
	width:2vw;
}




/*-----------------------------------
RESPONSIVE
-------------------------------------*/

@media(max-width:768px){
	video{
		display:none;
		width:50vw;
		height:auto;
	}
}

@media(max-width:992px){
	video{
		display:none;
		width:50vw;
		height:auto;
	}
}

/*
@media(max-width:800px){
	
#nav-princ ul li a{
	margin: 0px 50px;
}
	
h1{
	font-size:100px;
}
	
#systeme ul li a {
    text-decoration: none;
    font-size: 30px;
    margin: 0 50px;
    padding: 5px;
}
	
	
#explicationsysteme p {
    font-size: 20px;
    display: none;
}

#schemasysteme img {
    width: 70%;
    display: none;
}
.schema {
    position: relative;
    left: 50%;
    margin-left: -35%;
    top: -25%;
}
	
	#schemafondamentaux img {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -50%;
}
	
	#explicationfondamentaux p {
    display: none;
    font-size: 20px;
    text-align: center;
}
	
}

@media(max-width:600px){
	
	#explicationsysteme p {
    font-size: 15px;
    display: none;
}
	
		#schemafondamentaux img {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -50%;
}
	
	#explicationfondamentaux p {
    display: none;
    font-size: 12px;
    text-align: center;
}

}
*/